@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.w-custom{
    width: 120px!important;
    font-size: 12px!important;
    padding-right: 2px!important;
    padding-left: 2px!important;
    border: none!important;
}
